 /* Estilos generales */
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Contenedor principal */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos para el contenido */
h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    color: #4CAF50;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    text-align: center;
}

p {
    font-size: 1em;
    margin: 10px 0;
}

/* Estilos para la lista de alimentos */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

/* Diseño de enlace y centrado */
body,
p {
    background: #ffffff;
}


/*Modal*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    color: #000;
    cursor: pointer;
}